.datepicker{
    background-color: rgba(140, 193, 243, 0.795);
    text-align: center;
    width: 100%;
    font-family: sans-serif;
    font-weight:700;
    font-size: 200%;
    border-radius: 7px;
}
