@font-face {
    font-family: sanfranciscoheavy;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Heavy.otf)
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Heavy.otf) */
}
@font-face {
    font-family: sanfranciscomedium;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Medium.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Medium.otf); */
}
@font-face {
    font-family: sanfranciscolight;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Light.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Light.otf); */
}
@font-face {
    font-family: sanfranciscoregular;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Regular.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Regular.otf); */
}
.videologin{
    position: fixed !important;
    z-index: -1 !important;
    filter: blur(3px);
}
#inputlogin, #inputpass{
    border: none;
    border-radius: 10px !important;
}

#text1{
    font-family: 'Segoe UI Semibold';
    font-size: 18px;
    font-weight: 100px;
}
