@font-face {
    font-family: sanfranciscoheavy;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Heavy.otf)
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Heavy.otf) */
}
@font-face {
    font-family: sanfranciscomedium;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Medium.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Medium.otf); */
}
@font-face {
    font-family: sanfranciscolight;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Light.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Light.otf); */
}
@font-face {
    font-family: sanfranciscoregular;
    src: url(../../../public/resources/fonts/SanFrancisco/otf/SFNSDisplay-Regular.otf);
    /* src: url(../../resources/fonts/SanFrancisco/otf/SFNSDisplay-Regular.otf); */
}

.links{
    font-family: sanfranciscoregular;
    font-size: 18px;
    text-decoration: none !important;
}
.linkscuenta{
    font-family: sanfranciscomedium;
    font-weight: 550 !important;
    text-decoration: none !important;
}
.nombreyrol{
    font-family: sanfranciscolight;
    font-size: 18px;
}