.titulo{
    font-size: 50px;
    font-family: sanfranciscoheavy;
    margin-left: 100px;
}
.buscarbox{
    display: flex;
    justify-content: center;
}
#notaborrar{
    font-size: 18px;
    font-weight: 600;
}